body {
  background-image: -webkit-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: -o-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
}


.App {
  text-align: center;  }
  


